/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@13.3.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[3].use[1]!./node_modules/.pnpm/next@13.3.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[2].oneOf[3].use[2]!./node_modules/.pnpm/next@13.3.0_react-dom@18.2.0_react@18.2.0/node_modules/next/font/google/target.css?{"path":"app/page.tsx","import":"Noto_Sans","arguments":[{"subsets":["latin"],"weight":["300","400","500","600"]}],"variableName":"font"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/6456e45e1a0e063a-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/9d6efed3fca73e85-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/cc9bf20cf0b134e9-s.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/8662b0302ba8682b-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/2e2698d7d6de1417-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/e9991afdce9d4598-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/09ba9a02bf10b04f-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/2021def077588d87-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/08b6e03ca8aa6943-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/082a0e493b89d531-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/4332d8d0b42dd0eb-s.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/83d66d54151b092e-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3a5c9edcaa50d295-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/69c183bd3877b6ef-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/fd50bd0b0446db06-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/c0cdf81465c37a2f-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/c31e3915efb0d8c4-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/b7a42a5325a41c27-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/302becff9a50488f-s.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/e7175ce3a6adb21e-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/9e950c53e5e0f6b3-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/0f7afee21056b857-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/8a9e6a1bf1145a0e-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/b4720e2da596be9d-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/ce5fa4b83f21ccfb-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/97c0aff5ada7ff09-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/9a841b296d302e4a-s.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/bd447c60433d4592-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/d49caa6f5a0c69e2-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/d13685198eae2202-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/2acaf0016f9df643-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Noto_Sans_b9329e';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/96a1cd1bb45a3c75-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Noto_Sans_Fallback_b9329e';src: local("Arial");ascent-override: 100.18%;descent-override: 27.46%;line-gap-override: 0.00%;size-adjust: 106.70%
}.__className_b9329e {font-family: '__Noto_Sans_b9329e', '__Noto_Sans_Fallback_b9329e';font-style: normal
}

